header {
    background-color: #f73a2c;
    font-size: large;
    color: #ffffff;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.title {
    margin-left: 50px;
    font-size: 140%;
    color: #ffff;
}

body {
    margin: 0;
    padding: 0;
  }

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item1 {
    margin-top: 40px;
}

.item11 {
    background-color: black;
    color: white;
    width: 840px;
    height: 65px;
    display: flex;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 5px;
}

.item12 {
    display: flex;
    flex-direction: column;
}

.item12_caption {
    margin-top: 10px;
    margin-bottom: 80px;
    color: #555555;
    font-size: 90%;
}

.container2{
    display: flex;
    flex-direction: row;
    width: 840px;
    
}

.pop-out-image {
    transition: transform 0.2s ease-in-out;
}

.pop-out-image:hover {
    transform: scale(1.02);
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
}

.test_item {
    width: 270px;
    height: 380px;
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.test_item img {
    width: 100%;
    height: 100%;
}


.container_footerの前 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerの前 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 150%;
}

footer {
    background-color: #000000;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_text {
    color: white;
    font-size: 75%;
}
